@import url(UIkit.css);

:root{
    --primary-color: #A81426;
    --secondary-color: #F8BEBD;
    --title-color: #6E0012;
    --text-color: #000000;
    --background: #FEF5F5;
    --clear-text: #ffffff;
    --button-color: #ED5C59;
    --main-title: 64px;
    --big-subtitle: 36px;
    --short-subtitle: 24px;
    --text: 14px;
    --boxed-content: 1200px;
}

body{
    margin: 0;
    background-color: var(--background);
}


header{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    color: var(--clear-text);
    height: 64px;
}


.header__container{
    width: var(--boxed-content);
    display: flex;
    justify-content: space-between;
    
}


.header__brand{
    display: flex;
    margin-left: 16px;
    align-items: center;
}
.header__logo-link{
    width: 44px;
    height: 44px;
}
.header__logo-image{
    width: 44px;
    height: 44px;
}
.header__page-name{
    margin-left: 41px;
}


.header__menu{
    display: flex;
    
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__menu-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 44px;
}
.header__menu-item{
    text-decoration: none;
    padding: 14px 24px;
    border: none;
    border-radius: 17px;
}

.header__menu-bars{
    display: none;
}


/* secciones */

.main-section{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

.main-section__container{
    width: var(--boxed-content);
    display: flex;
    gap: 30px;
}

.main-section__content{
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;
}

.main-section__title{
    color: var(--title-color);
    font-size: var(--main-title);
}

.main-section__subtitle{
    color: var(--primary-color);
    font-size: var(--short-subtitle);
    font-weight: bold;
}

.main-section__form{
    display: flex;
    gap: 30px;
}

.main-section__button{
    height: 44px;
    padding: 0 24px;
    border-radius: 17px;
    border: none;
    background-color: var(--button-color);
    color: var(--clear-text);
    font-size: 14px;
    
}

.main-section__form :first-child{
    background-color: transparent;
    border: var(--button-color) 1px solid;
    color: var(--button-color);
    font-weight: bold;
}

.main-section__item{
    padding: 0 16px 0 0;
    display: flex;
    align-items: center;
}

.main-section__image{
    width: 400px;
}

.features-section{
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.features-section__container{
    width: var(--boxed-content);
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.features-section__text{
    max-width: 569px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-section__title{
    color: var(--title-color);
    font-size: var(--big-subtitle);
}

.features-section__description{
    font-size: var(--text);
}

.features-section__item{
    max-width: 569px;
    padding-right: 16px;
}

.features-section__image{
    width: 100%;
    min-width: 300px;
}

.benefits-section{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    width: 100%;
}

.benefits-section__container{
    width: var(--boxed-content);
    display: flex;
    padding: 80px 16px;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefits-section__item{
    width: 380px;
}

.benefits-section__figure{
    margin: 0;
    width: 100%;
    height: 380px;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
}

.benefits-section__image{
    width: 100%;
}

.benefits-section__title{
    color: var(--title-color);
    font-size: var(--big-subtitle);
}

.comments-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.comments-section__container{
    max-width: var(--boxed-content);
    padding: 80px 16px;
    display: flex;
    flex-direction: column;
}

.comments-section__title{
    color: var(--title-color);
    font-size: var(--main-title);
}

.comments-section__comments{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.comments-section__comment{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 16px;
}

.comments-section__author-info{
    display: flex;
    gap: 30px;
    display: flex;
    align-items: center;
}

.comments-section__author-link{
    
}

.comments-section__author-name{
    color: var(--title-color);
    font-size: var(--big-subtitle);
    margin: 0;
}

.comments-section__comment-text{
    font-size: var(--text);
}

.comments-section__view-more{
    display: flex;
    justify-content: flex-end;
}

.comments-section__view-more-button{
    height: 44px;
    padding: 0 24px;
    border-radius: 17px;
    border: none;
    background-color: var(--button-color);
    color: var(--clear-text);
    font-size: 14px;
}

.offerings-section{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    
}

.offerings-section__container{
    width: var(--boxed-content);
    padding: 80px 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px repeat(2, 1fr);
    gap: 30px;
}

.offerings-section__title{
    color: var(--title-color);
    font-size: var(--big-subtitle);
    grid-column: 1/3;
    margin: 0;
}

.offerings-section__subtitle{
    color: var(--title-color);
    font-size: var(--big-subtitle);
}

.offerings-section__description{
    font-size: var(--text);
}

.plans-section{
    display: flex;
    justify-content: center;
    
}

.plans-section__container{
    width: var(--boxed-content);
    padding: 80px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    
}

.plans-section__title{
    color: var(--title-color);
    font-size: var(--main-title);
    width: 100%;
    text-align: center;
}

.plans-section__plan{
    width: 352px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plans-section__plan:nth-of-type(1){
    background-color: var(--secondary-color);

}

.plans-section__plan:nth-of-type(2){
    background-color: var(--button-color);
    color: var(--clear-text);
}

.plans-section__plan:nth-of-type(3){
    background-color: var(--primary-color);
    color: var(--clear-text);
}

.plans-section__plan-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plans-section__plan-name{
    font-size: var(--big-subtitle);
}

.plans-section__plan:nth-of-type(1) .plans-section__plan-name{
    color: var(--title-color);
    font-size: var(--big-subtitle);
}

.plans-section__plan-feature{
    margin: 16px 0;
}

.plans-section__plan-form{
    display: flex;
    margin: 80px 0;
    justify-content: center;
}

.plans-section__plan-button{
    height: 44px;
    padding: 0 24px;
    border-radius: 17px;
    border: none;
    background-color: var(--clear-text);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: bolder;
}

.download-section{
    display: flex;
    justify-content: center;
}

.download-section__container{
    width: var(--boxed-content);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 16px;
}

.download-section__title{
    color: var(--title-color);
    font-size: var(--big-subtitle);
}

.download-section__button{
    height: 44px;
    padding: 0 24px;
    border-radius: 17px;
    border: none;
    background-color: var(--button-color);
    color: var(--clear-text);
    font-size: 14px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--clear-text);
}

.footer__container{
    display: grid;
    padding: 80px 16px;
    width: var(--boxed-content);
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
}

.footer__social-icons{
    display: flex;
    gap: 30px;
}

@media (max-width: 768px){
    .header__menu-bars{
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
    
    .header__menu{
        display: none;
    }
    
    .main-section__container{
        flex-direction: column;
        align-items: center;
    }
    
    .features-section__container{
        flex-direction: column;
        align-items: center;
    }

    .offerings-section__container{
        grid-template-columns: 1fr;
        
    }

    .offerings-section__title{
        grid-column: 1/2;
    }
    
    .footer__container{
        display: grid;
        padding: 80px 16px;
        width: var(--boxed-content);
        grid-template-columns: minmax(300px, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    /* Agrega aquí tus ajustes de CSS para pantallas de 480px y menos */
    .main-section__image {
        width: 100%; /* Ajustar el ancho al tamaño del contenedor */
    }
    .features-section__image {
        width: 100%; /* Ajustar el ancho al tamaño del contenedor */
    }
    .benefits-section__item,
    .plans-section__plan,
    .benefits-section__figure {
        width: 100%; /* Ajustar el ancho al tamaño del contenedor */
    }
    .comments-section__comment {
        min-width: 250px; /* Ajustar el ancho mínimo */
    }
    .comments-section__container {
        width: 90%; /* Reducir el ancho del contenedor */
        margin: 0 auto; /* Centrar el contenedor en la pantalla */
        padding: 0 10px; /* Agregar relleno horizontal */
    }
    .comments-section__title {
        font-size: var(--big-subtitle);
    }

    .comments-section__author-name{
        font-size: var(--short-subtitle);
    }
}
